# Native builds
/build/
/out/
/_CPack_Packages/
*.obj
*.o
*.exe
*.zbc
!java/src/main/resources/META-INF/zsharp/runtime/windows-x86_64/zsharp.exe
!java/src/main/resources/META-INF/zsharp/runtime/windows-aarch64/zsharp.exe
/examples/**/Packages/

# Java builds
**/.gradle/
**/target/
**/build/
*.class

# Editors and operating systems
.idea/
.vscode/
.DS_Store
Thumbs.db
